<script type="text/javascript">
    google.charts.load('current', {'packages':['gauge']});
    google.charts.setOnLoadCallback(drawJaiteGauge);

    function drawJaiteGauge() {
      drawGauge(<%= flowRate %>, false);
    }

    function getSize() {
        var scale = .8;
        var size = Math.min($(window).width(), $(window).height()) * scale;
        return size;
    }

    function drawGauge(cfs, isDynamic) {
        var bottom = 2200;
        var low = 2500;
        var high = 3300;
        var top = 3500;

        var min = 2000;
        var max = 4000;
        var diff = 200;

        if (isDynamic) {
            if (cfs < min) {
                min = cfs - diff;
            }
            if (cfs > max) {
                max = cfs + diff;
            }
        }

        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['CFS', 0]
        ]);

        var numberMajorTicks = 5;
        var majorTicks = [];
        var range = max - min;
        var majorTickInterval = range / (numberMajorTicks - 1);
        majorTicks.push(min);
        for (i = 1; i <= numberMajorTicks - 2; i++) {
            majorTicks.push(min + (majorTickInterval * i));
        }
        majorTicks.push(max);

        var size = getSize();

        var options = {
            width: size, height: size,
            yellowColor: '#FFF000',
            greenColor: '#109618',
            redColor: '#DC3912',
            yellowFrom: bottom, yellowTo: low,
            greenFrom: low, greenTo: high,
            redFrom: high, redTo: top,
            min: min, max: max,
            minorTicks: 5,
            majorTicks: majorTicks
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
        data.setValue(0, 1, cfs);
        chart.draw(data, options);
        }, 500);
    }

</script>

<div class="container">
  <div id="chart_div"></div>
</div>
