<% include partials/header %>
  <%= gaugeName %>
  <br><br>
  <%= flowRate %> cfs
  <br><br>
  <%= time %>
  <br><br>
  <%= date %>
  <br><br>

  <div class="container">
  <div id="chart_div"></div>
</div>
<% include partials/footer %>
